<app-base>
  <ng-container>
    <div class="container">
      <div class="row">
        <button type="button" class="btn" (click)="navigateBack()">Back</button>
        <span><h2 class="title">Task Lists </h2></span>
      </div>
      <div>
        <div class="form-group">
          <label for="tasklistname">New task List</label>
          <input type="text" class="form-control" id="tasklistname" [(ngModel)]="taskListName" placeholder="Name ...">
        </div>
        <button type="submit" class="btn btn-warning" (click)="createTaskList()">create</button>
      </div>
      <br>
      <table class="table">
        <tr>
          <td>Id</td>
          <td>Title</td>
          <td></td>

        </tr>
        <tr *ngFor="let taskList of taskLists">
          <td >
            {{taskList.id}}
          </td>
          <td >
            {{taskList.name}}
          </td>
          <td>
            <a routerLink="/task_lists/{{taskList.id}}/">Details</a>
          </td>

        </tr>


      </table>

    </div>
  </ng-container>
</app-base>
